/*
 *
 * Custom css Styles
 *
 */

.column {
    float: left;
    margin-right: 2px;
}

.box {
    width: 50px;
    height: 350px;
    border: 1px solid #ccc;
    margin-bottom: 2px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

b.red,
b.blue {
    width: 45px;
    height: 45px;
    display: block;
    border-radius: 25px;
    margin: 0px auto;
    margin-top: 1px;
}

b.red {
    background-color: #f00;
}

b.blue {
    background-color: #05f;
}